[*]
end_of_line = lf
insert_final_newline = true

# Set default charset
[**.{js,trig,scss}]
charset = utf-8

[assets/source/scripts/**.js]
indent_style = space
indent_size = 2

[templates/**.twig]
indent_style = space
indent_size = 2

[assets/source/**.scss]
indent_style = space
indent_size = 2

# Matches the exact files either package.json
[package.json, gulpfile.js]
indent_style = space
indent_size = 2
