div(style="padding: 30px 45px")
  h1(style="line-height: 1.1em") Инитум помогает быстро начать вёрстку проекта
  p(style="padding: 15px 0 10px 0; max-width: 700px; line-height: 1.6em;") Для начала удалите файл
    span(style="color: #328090; background: #FFFCD7; padding: 3px 5px; margin: 0 4px 0 4px; border-radius: 3px;") /templates/blocks/hello.pug
    | и отредактируйте
    span(style="color: #328090; background: #FFFCD7; padding: 3px 5px; margin: 0 4px 0 4px; border-radius: 3px;") /templates/index.pug
    span еще проверка
